/*body {
	background-color: #393939;
	
}*/


/*div.scroll {*/
	/*background-color:black;*/
	/*font-family: monospace;
	color:white;
	font-size:50px;
	text-align: center;
}


div.tech-box img {
	width: 50px;
}*/

h2 {
	color: dodgerblue;
}

h5 {
	color: skyblue;
}

h4 {
	color: white;
}

p {
	color: gainsboro;

}

h1 {
	color: whitesmoke;
	margin: 0 auto;
}

div.headline p {
	margin: 0 auto;
}
a.brand-logo{
	z-index: 100;

}
a.brand-logo p {
	color: white;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
}

img.logo {
	border-radius: 50%;
	width: 64px;
	height: 64px;
	padding: 10px;
	position: relative;
	z-index: 100;
	display: inline-block;
}

div.nav-wrapper {
	/*background: black;*/
}

div.headline {
	padding-top: 100px;
	text-align: center;
}


nav {
	background-color: darkblue;
	padding-left: 20px;
	padding-right: 20px;
}

@media only screen and (max-width: 600px) {
	a.brand-logo p {
		display: none;
	}
	img.logo {
		width: 100px;
		height: 100px;
	}
}