
<!DOCTYPE html>
<html>
<head>

	<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	
	
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<!-- <div class="navbar-fixed">
		<nav data-activates="nav-mobile" class="button-collapse">
			<div class="nav-wrapper">

				<a href="#home" class="brand-logo"><img class="logo" src="../assets/logo.png"></a>
				<a materialize="sideNav" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="#about">ABOUT ME</a></li>
					<li><a href="#projects">PROJECTS</a></li>
					<li><a href="#tech">TECHNOLOGIES</a></li>
					<li><a href="#contact">CONTACT ME</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<ul class="side-nav" id="nav-mobile">
		<li>
	        <a onclick="$('.button-collapse').sideNav('hide');"><i class="material-icons">close</i></a>
	    </li>
		<li><a href="#about">ABOUT ME</a></li>
		<li><a href="#projects">PROJECTS</a></li>
		<li><a href="#tech">TECHNOLOGIES</a></li>
		<li><a href="#contact">CONTACT ME</a></li>
		<div class="divider"></div>
		
	</ul> -->
	<div class="parallax-container">
		<div class="parallax">
			
		<div class="headline" id="home">
			<h1>William Tran</h1>

			<p>I am <span>DEDICATED, FOCUSED and <span style="font-style: italic" >extremely</span> DRIVEN.</span></p>
			<p style="margin-left: 10%">I am <span>about creating solutions and turning ideas into reality.</span></p>
			<p style="margin-left: 10%">I am <span>a SOFTWARE DEVELOPER.</span></p>
		</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
      		$('.parallax').parallax();
    	});
	</script>
	<div class="container">
		<div id="about"><br>

			<h2>About Me</h2>
			<div class="me-section">
				<div class="about-me2">
					<img src="../assets/freelancer.jpg" class="me">
					<h5 class="darkblue">Vision</h5>	
					<p class="black-font">To bring value through functionality, innovation and design.</p>
				</div>
				<div class="about-me">
					<h5 class="darkblue">Software Development</h5>
					<ul>
						<li><p class="black-font">Proficient in Python, MEAN and Java full stack development.</p></li>
						<li><p class="black-font">Perform SQL queries, CRUD operations, build out and deploy projects from client to server to database.</p></li>
						<li><p class="black-font">Follow Object Oriented Programming, handling logic through MVC and MTV methods.</p></li>
						<li><p class="black-font">Solve numerous problems through debugging and research.</p></li>
						
					</ul>
					<h5 class="darkblue">Finance and Accounting</h5>
					<ul>
						<li><p class="black-font">10+ years of Finance and Accounting experience.</p></li>
						<li><p class="black-font">Worked in various industries including Real Estate, Food and Beverage and Banking.</p></li>
						<li><p class="black-font">Managing cash flows, financial reporting, variance analysis, process automation, financial analysis, reconciliation, capital distributions, profit distributions, and accruals.</p></li>
					</ul>
					<!-- <h5>From Finance to Technology</h5>
					<p>Transitioning from the world of financial statements to having the opportunity to implement technology and creating applications that influences lives. Having worked in different industries with a focus on Finance and Accounting for 10+ years, I understood how microprocessing and automation play huge roles in companies. These advancements in technology paved way to my curiosity in software development.</p> --> 
					<h5 class="darkblue">My Goals</h5>
					<ul>
						<li><p class="black-font">Continuous learning and dedication to improving my craft.</p></li>
						<li><p class="black-font">Build purposeful software apps that influence lives.</p></li>
						<li><p class="black-font">Incorporate my Finance/Accounting experience to create apps for data analytics and improve processes for various industries.</p></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
	<div id="image-container" class="container">
		<h2>What I'm About</h2>
		<div ng2-carouselamos class="slides-wrapper"
			[items]="items"
			[width]="700"
			[$prev]="prev"
			[$next]="next"
			[$item]="item">
		</div>

		<ng-template #prev>
			<img src="../assets/chevron-left.png" id="left">
		</ng-template>
			
		<ng-template #next>
			<img src="../assets/chevron-right.png" id="right">
		</ng-template>

		<ng-template #item let-item let-i="index">
			<div class="items">
				<h5>{{ item.title }}</h5>
				<img src="{{ item.name }}">
				<p class="font-size">{{ item.label }}</p>
			</div>
		</ng-template>
		
	</div>
	<div class="container">	
		<div id="projects">
			<br>
			<h2 class="darkblue">Projects</h2>
			<!-- <h5 class="darkblue">Whether I am working on the front-end or back-end, I use methodology along with creativity and problem solving skills to build out purposeful applications.</h5> -->
			<h5 class="example">These are a couple of projects that I have worked on which help solidify my skills as a developer.</h5>
		
		<ul class="collapsible popout" data-collapsible="accordion">
			<li>
			<div class="collapsible-header"><h4><i class="large material-icons plus">add_circle</i>Duly Noted</h4><p>Python</p></div>
				<div class="collapsible-body">
					<div class="box-one">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/ktN8_u2OTJ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
					<div class="box-two">
						<h5>Description</h5>
						<p class="body-padding">A simple, easy to use sticky note application. Users can register and login to create, update and delete their notes.</p>
						<h5>Responsibilities</h5>
						<ul class="bullets">
							<li><p> Set up associations in the models for MySQL.</p></li>
							<li><p> Implemented AJAX to handle post requests to create, delete and update notes.</p></li>
							<li><p> Implemented modal for registration, validations, error handling.</p></li>
							<li><p> Deployed of project using AWS EC2.</p></li>
						</ul>
						<h5 class="built">This project was built with: </h5>
						<p class="body-padding">Python, Django, AJAX, HTML, BootStrap, jQuery, MySQL, SQLite</p>
						<a href="http://github.com/wtran29/post"><button class="git-button">Github</button></a>
						<a href="18.217.19.208"><button class="live-button">Live Version</button></a>
					</div>
				</div>
			</li>
			<li>
			<div class="collapsible-header"><h4><i class="large material-icons plus">add_circle</i>Club of Diamonds</h4><p>JavaScript</p></div>
				<div class="collapsible-body">
					<div class="box-one">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/6eSBJORKKQA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
					<div class="box-two">
						<h5>Description</h5>
						<p class="body-padding">A social app geared towards young, affluent users to discover, showcase and 
						list luxury items/services. Has login and registration, backend and frontend validations. Front page features a randomly generated item so it has some chance to gain exposure to other users.</p>
						<h5>Responsibilities</h5>
						<ul class="bullets">
							<li><p> Setting up the database, server, routing, models, controller, back-end and front-end design.</p></li>
							<li><p> Created and implemented Angular components, services, classes and routing.</p></li>
							<li><p> Implemented modal for registration, authentication, encryption, validations, sessions management, error handling.</p></li>
							<li><p> Implemented filter directive for search bar and equal validator directive for password confirmation.</p></li>
							<li><p> Deployed of project using AWS EC2.</p></li>
						</ul>
						<h5 class="built">This project was built with: </h5>
						<p class="body-padding">JavaScript, Angular, Express.js, Node.js, MongoDB, HTML, CSS</p>
						<a href="http://github.com/wtran29/ClubOfDiamonds"><button class="git-button">Github</button></a>
					</div>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><h4><i class="large material-icons plus">add_circle</i>DoggyCrate</h4><p>Java</p></div>
				<div class="collapsible-body">
					<div class="box-one">	
						<iframe width="560" height="315" src="https://www.youtube.com/embed/VvktAVBA8x4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
					<div class="box-two">
						<h5>Description</h5>
						<p class="body-padding">A monthly subscription platform for pet dogs. Has both admin and user role. Admin has control of subscription creation, availability, client data, and deleting. Users can subscribe and update prior to login and registration.</p>
						<h5>Responsibilities</h5>
						<ul class="bullets">
							<li><p>Implemented dependencies in Spring Tool Suite IDE.</p></li>
							<li><p>Set up config, controllers, models, repositories, services and validator packages.</p></li>
							<li><p>Implemented custom logout handler, web security config and user details service for authentication.</p></li>
							<li><p>Set up associations for one-to-many, many-to-many relationships in the models for MySQL.</p></li>
							<li><p>Executed set up between MySQL database and STS to pass data and serve localhost.</p></li>
							<li><p>Created design of packages using Photoshop.</p></li>
							<li><p>Deployed project using AWS EC2.</p></li>
						</ul>
						<h5 class="built">This project was built with: </h5>
						<p class="body-padding">Java, Spring Tools Suite, Spring Boot, MySQL, JSP, CSS, JSTL, Photoshop</p>
						<a href="http://github.com/wtran29/DoggyCrate"><button class="git-button">Github</button></a>
					</div>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><h4><i class="large material-icons plus">add_circle</i>Engage</h4><p>Java</p></div>
				<div class="collapsible-body">
					<div class="box-one">
						
						<iframe width="560" height="315" src="https://www.youtube.com/embed/KZLEh-QOYPQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
					<div class="box-two">
						<h5>Description</h5>
						<p class="body-padding">A social app to promote users to create and engage in events with friends and family. Users have the ability to participate in a message board in ‘events’ page.</p>
						<h5>Responsibilities</h5>
						<ul class="bullets">
							<li><p>Implemented dependencies in Spring Tool Suite IDE.</p></li>
							<li><p>Set up config, controllers, models, repositories, services and validator packages.</p></li>
							<li><p>Implemented custom logout handler, web security config and user details service for authentication.</p></li>
							<li><p>Set up associations for one-to-many, many-to-many relationships in the models for MySQL.</p></li>
							<li><p>Executed set up between MySQL database and STS to pass data and serve localhost.</p></li>
							<li><p>Administered version control using GitHub.</p></li>
							<li><p>Deployed project using AWS EC2.</p></li>
						</ul>
						<h5 class="built">This project was built with: </h5>
						<p class="body-padding">Java, Spring Tools Suite, Spring Boot, MySQL, JSP, CSS, JSTL</p>
						<a href="http://github.com/wtran29/EngageApp"><button class="git-button">Github</button></a>
					</div>
				</div>
			</li>
			<li>
			<div class="collapsible-header"><h4><i class="large material-icons plus">add_circle</i>Weather Spy</h4><p>PHP</p></div>
				<div class="collapsible-body">
					<div class="box-one">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/dteQ1RALCas" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
					<div class="box-two">
						<h5>Description</h5>
						<p class="body-padding">A simple weather forecast application. Users are able to see a 3 day forecast summary by searching the city.</p>
						<h5>Responsibilities</h5>
						<ul class="bullets">
							<li><p> Set up validations and error handling.</p></li>
							<li><p> Implemented regex to match and scrap weather data.</p></li>
							
						</ul>
						<h5 class="built">This project was built with: </h5>
						<p class="body-padding">PHP, HTML, BootStrap, jQuery</p>
						<a href="http://github.com/wtran29/WeatherSpy"><button class="git-button">Github</button></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	</div>
	<div id="tech" class="container">
		<br>
		<h2 class="padding">Technologies</h2>
		<h5 class="padding">I am capable of learning new technologies quickly and always look for the opportunity to expand my skills and grow as a developer.</h5>
		<p class="padding font-size">Here are the set of tools I have used below: </p>
		<div class="tech-container">
			<div class="tech-box">
				<h4>LANGUAGES</h4>
				<ul>
					<li><div><img src="../assets/JavaScript.png" alt="js"><p>JavaScript</p></div></li>
					<li><div><img src="../assets/java.png" alt="java"><p>Java</p></div></li>
					<li><div><img src="../assets/python.png" alt="python"><p>Python</p></div></li>
				</ul>
			</div>
			<div class="tech-box">
				<h4>FRAMEWORKS</h4>
				<ul>
					<li><div><img src="../assets/angular.png" alt="angular"><p>Angular</p></div></li>
					<li><div><img src="../assets/expressjs.png" alt="express"><p>Express.js</p></div></li>
					<li><div><img src="../assets/nodejs.png" alt="node"><p>Node.js</p></div></li>
					<li><div><img src="../assets/spring.png" alt="spring"><p>Spring Boot</p></div></li>
					<li><div><img src="../assets/django.png" alt="django"><p>Django</p></div></li>
				</ul>
			</div>
			<div class="tech-box">
				<h4>DESIGN</h4>
				<ul>
					<li><div><img src="../assets/HTML.png" alt="html"><p>HTML</p></div></li>
					<li><div><img src="../assets/CSS.png" alt="css"><p>CSS</p></div></li>
					<li><div><img src="../assets/jQuery.png" alt="jquery"><p>jQuery</p></div></li>
					<li><div><img src="../assets/bootstrap.png" alt="bootstrap"><p>Bootstrap</p></div></li>
					<li><div><img src="../assets/ps.png" alt="photoshop"><p>Photoshop</p></div></li>
					<li><div><img src="../assets/materialize.png" alt="materialize-css"><p>Materialize</p></div></li>
				</ul>
			</div>
			<div class="tech-box">
				<h4>DATABASES</h4>
				<ul>
					<li><div><img src="../assets/mongodb.png" alt="mongo"><p>MongoDB</p></div></li>
					<li><div><img src="../assets/mysql.png" alt="mysql"><p>MySQL</p></div></li>
					<li><div><img src="../assets/sqlite.png" alt="sqlite"><p>SQLite</p></div></li>
				</ul>
			</div>
			<div class="tech-box">
				<h4>ANALYTICS</h4>
				<ul>
					<li><div><img src="../assets/jupyter.png" alt="jupyter"><p>Jupyter</p></div></li>
					<li><div><img src="../assets/pandas.png" alt="pandas"><p>Pandas</p></div></li>
					<li><div><img src="../assets/matplot.png" alt="matplot"><p>matplotlib</p></div></li>
				</ul>
			</div>
		</div>
	</div>
		<div id="contact" class="container"><br>
			<h2 class="darkblue">Contact Me</h2>
			<div class="body-padding">
				<p class="black-font">I always value for the opportunity to grow and contribute to a positive environment.</p> 
				<p class="black-font">Let's work together and turn ideas into reality. </p>
				<p class="black-font">Feel free to contact me at <a href="mailto:wtran4hire@gmail.com">wtran4hire@gmail.com</a>.</p>
			</div>
		</div>
	<!-- </div> -->
	<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Keep In Touch</h5>
                <!-- <p class="grey-text text-lighten-4">Here are my links so we could keep in touch.</p> -->
                <ul class="links">
                  <li><a class="grey-text text-lighten-3" href="mailto:wtran4hire@gmail.com"><i class="medium material-icons">email</i></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/william-tran"><img class="linkedin" src="../assets/linkedin-blue.png"></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/wtran29"><img class="git" src="../assets/git.jpg"></a></li>
                  <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
              	<img class="great" src="../assets/great.jpg">
                <!-- <h5 class="white-text">Links</h5> -->
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            William Tran © 2018 Copyright
            </div>
          </div>
    </footer>
</body>
</html>