html {
	scroll-behavior: smooth;
	
}
body {
	background-color: white;
}

img.me {
	display: inline;
	border: 10px solid white;
	width: 390px;
}
div.me-section{
	text-align: center;
	background: gainsboro;
	padding: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}
div.about-me2 {
	display: inline-block;
	text-align: center;
}

div.about-me2 h5{
	font-weight: bold;
}
div.about-me{
	display: inline-block;
	vertical-align: top;
	
}
div.about-me ul {
	padding-left: 20px;
}
div.about-me h5{
	margin: 20px;
	text-align: left;
	font-weight: bold;
}
div.about-me p {
	margin: 0 auto;
}

div.about-me li {
	list-style-type: circle;
	margin: 0 auto;
	margin-left: 20px;
	text-align: left;
}

div.tech-box img {
	width: 50px;
}

h2 {
	color: white;
	letter-spacing: -1px;
	padding-left: 15px;
}

h5 {
	color: skyblue;

}

h4 {
	color: white;
}

p {
	color: gainsboro;

}

h1 {
	color: whitesmoke;
	margin: 0 auto;
}

div.headline p {
	margin: 0 auto;
}
a.brand-logo{
	z-index: 100;
}
img.logo {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	padding: 10px;
	position: relative;
	z-index: 100;
}

div.nav-wrapper {
	/*background: black;*/
}

div.headline {
	padding-top: 100px;
	text-align: center;
}


/*nav {
	background-color: steelblue;
	
}*/

div.tech-box {
	display: inline-block;
	padding: 5px;
	/*width: 500px;*/
	vertical-align: top;
	text-align: center;
	/*min-height: 280px;*/
	border-radius: 5px;
	background-color: gray;
	margin: 5px;
	
}

div.tech-box ul {
	margin: 0 auto;

}

div.tech-box ul li {
	display: inline-block;
	width: 75px;
}
div.tech-box ul li div {
	
	text-align: center;
}

div.tech-container {
	/*background-color: #393939;*/
	padding: 0;
	text-align: center;

}

#tech {
	background: black;
	width: 100%;
	padding-bottom: 20px;

}

.font-size {
	font-size: 17px;
}

div.tech-box p{
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 12px;
}

div.tech-box h4{
	margin-bottom: 15px;
}
.parallax-container {
	height: 800px;
}
.parallax {
	background-image: url("../../assets/tokyo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;   

}

.parallax-container .parallax {
	z-index: 0;
}

div.container #about, #projects, #tech, #contact {
	margin-top: 35px;
}

#about {
	border-radius: 5px;
	background: darkblue;
	box-shadow: 2px 2px 4px 0px grey;
}
#projects {
	
	border-radius: 5px;
	background: gainsboro;
	box-shadow: 2px 2px 4px 0px grey;
	padding-bottom: 10px;
}
.black-font {
	color: black;
	
}

#projects h5{
	padding-left: 15px;
	padding-right: 15px;
}
.darkblue {
	color: darkblue;
}
.example {
	color: black;
	font-size: 20px;
	
}
#projects h5 {
	padding-left: 30px;
	padding-right: 30px;
}

#contact {
	background: white;
	border-radius: 5px;
	padding-bottom: 15px;
	/*box-shadow: 2px 2px 4px 0px grey;*/
	border: 2px dashed darkblue;
}

.body-padding {
	padding-left: 30px;
	padding-right: 30px;
	
}
footer {
	background-color: slategray;
	margin-top: 50px;
}

img.linkedin, img.git {
	width: 55px;
	border-radius: 10px;

}
img.github {
	width: 55px;
	border-radius: 50%;
}

div.scroll {
	overflow: scroll;
	height: 470px;
	overflow-x: hidden;
	background-color: black;
	
}
div.scroll .container {
	width: 90%;
}
h5.check{
	color: white;
}
ul.links li {
	display: inline;
}
h5.built{
	color: goldenrod;
}
ul.bullets {
	color: deepskyblue;
	padding-left: 45px;
}
ul.bullets li{
	list-style-type: disc;

}
ul.bullets p {
	/*display: inline-block;*/
	/*vertical-align: super;*/
	margin: 0 auto;

}

.git-button{
	margin-left: 30px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background: navy;
}
#image-container{
	
	width: 100%;
	/*margin: 5em auto;*/
	margin-top: 35px;
	padding: 0;
	background: black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.items {
	max-width: 700px;
	
}

.items img{
	width: 700px;
	border: 10px solid white;
	
}

div.box-one {
	text-align: center;
	margin-top: 30px;
	
}

div.box-two {
	border-radius: 5px;
	/*background: black;*/
}



div#contact p{
	margin:0 auto;

}

img.great {
	height: 100px;
}

div.container #image-container{
	text-align: center;
}

.slides-wrapper {
	text-align: center;
	width: 100%;
}

.collapsible-header p {
	padding-top: 12px;
	padding-left: 12px; 
	padding-right: 12px;
}

@media only screen and (min-width: 620px) and (max-width: 663px){
	.items{
		padding-left: 15%;
		padding-right: 15%;
	}
	.items img {
		max-width: 30rem;
	}

	#left, #right{
		width: 50%;
	}

	iframe {
		width: 90%;
	}

	.box-two p {
		font-size: 80%;

	}

	.box-two i{
		display: none;
	}

	.tech-box {
		width: 80%;
		min-height: 80%;
	}

	#tech h5, #projects h5 {
		font-size: 18px;

	}

	#contact p {
		display: inline;
	}
	#about, #projects, #tech, #contact, footer .container {
		text-align: center;
	}
	.bullets {
		text-align: left;
	}
}
@media only screen and (min-width: 590px) and (max-width: 619px){
	
	.about-me {
		width: 100%;
	}
	.items{
		padding-left: 17%;
		padding-right: 17%;
	}
	.items img {
		max-width: 28rem;
		
	}

	#left, #right{
		width: 50%;
	}

	iframe {
		width: 90%;
	}

	.box-two p {
		font-size: 80%;

	}

	.box-two i{
		display: none;
	}

	.tech-box {
		width: 80%;
		min-height: 80%;
	}

	#tech h5, #projects h5 {
		font-size: 18px;

	}

	#contact p {
		display: inline;
	}
	#about, #projects, #tech, #contact, footer .container {
		text-align: center;
	}
	.bullets {
		text-align: left;
	}

}
@media only screen and (min-width: 550px) and (max-width: 589px){
	
	.about-me {
		width: 100%;
	}
	.items{
		padding-left: 19%;
		padding-right: 19%;
	}
	.items img {
		max-width: 25rem;
		
	}

	#left, #right{
		width: 50%;
	}

	iframe {
		width: 90%;
	}

	.box-two p {
		font-size: 80%;

	}

	.box-two i{
		display: none;
	}

	.tech-box {
		width: 80%;
		min-height: 80%;
	}

	#tech h5, #projects h5 {
		font-size: 18px;

	}

	#contact p {
		display: inline;
	}
	#about, #projects, #tech, #contact, footer .container {
		text-align: center;
	}
	.bullets {
		text-align: left;
	}

}
@media only screen and (min-width: 501px) and (max-width: 549px){
	
	.about-me {
		width: 100%;
	}
	.items{
		padding-left: 19%;
		padding-right: 19%;
	}
	.items img {
		max-width: 23rem;
		
	}

	#left, #right{
		width: 50%;
	}

	iframe {
		width: 90%;
	}

	.box-two p {
		font-size: 80%;

	}

	.box-two i{
		display: none;
	}

	.tech-box {
		width: 80%;
		min-height: 80%;
	}

	#tech h5, #projects h5 {
		font-size: 18px;

	}

	#contact p {
		display: inline;
	}
	#about, #projects, #tech, #contact, footer .container {
		text-align: center;
	}
	.bullets {
		text-align: left;
	}

	.collapsible-header h4{
		font-size: 210%;
	}

}
@media only screen and (min-width: 375px) and (max-width: 419px) {
	div.headline {
		font-size: 85%;
	}
	img.me {
		width: 95%;
		margin-top: 25px;

	}
	.padding {
		padding-left: 2%;
		padding-right: 2%;
	}
	.items{
		padding-left: 5.5%;
		padding-right: 5.5%;
	}
	.items img {
		max-width: 24rem;
		
	}
	#left, #right {
		width: 50%;
	}
	.collapsible-header h4{
		font-size: 160%;
	}
	.collapsible-header p {
		display: none;
	}
	#about, #projects, #tech, #contact, footer .container {
		text-align: center;
	}

	.bullets {
		text-align: left;
	}

	iframe {
		width: 90%;
	}

	.box-two p {
		font-size: 80%;

	}

	.box-two i{
		display: none;
	}

	.tech-box {
		width: 80%;
		min-height: 80%;
	}

	#tech h5, #projects h5 {
		font-size: 18px;

	}

	#contact p {
		display: inline;
	}
}
@media only screen and (min-width: 420px) and (max-width: 500px) {
	img.me {
		width: 95%;
		margin-top: 25px;

	}
	.padding {
		padding-left: 2%;
		padding-right: 2%;
	}
	.items{
		padding-left: 5.5%;
		padding-right: 5.5%;
	}
	.items img {
		max-width: 27rem;
		
	}
	#left, #right {
		width: 50%;
	}
	.collapsible-header h4{
		font-size: 160%;
	}
	.collapsible-header p {
		font-size: 85%;
	}
	#about, #projects, #tech, #contact, footer .container {
		text-align: center;
	}

	.bullets {
		text-align: left;
	}

	iframe {
		width: 90%;
	}

	.box-two p {
		font-size: 80%;

	}

	.box-two i{
		display: none;
	}

	.tech-box {
		width: 80%;
		min-height: 80%;
	}

	#tech h5, #projects h5 {
		font-size: 18px;

	}

	#contact p {
		display: inline;
	}
}
@media only screen and (min-width: 664px) and (max-width: 767px) {
	.items{
		padding-left: 9%;
		padding-right: 9%;
	}
	.items img {
		max-width: 41rem;
		
	}
	#left, #right {
		width: 50%;
	}
	iframe {
		width: 90%;
	}
	.tech-box {
		max-width: 47%;
		min-height: 250px;
	}
	
	.box-two i{
		display: none;
	}
	footer .container {
		text-align: center;
	}
	.padding {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.padding {
		padding-left: 70px;
		padding-right: 70px;
	}
	.items img {
		width: 50rem;
		
	}
	#left, #right {
		width: 50%;
	}

	.tech-box {
		max-width: 48%;
		min-height: 250px;
	}
	
}
@media only screen and (min-width: 993px) {
	.about-me2 {
		width: 390px;
	}
	.padding {
	padding-left: 70px;
	padding-right: 70px;
	}
	.container {
		width: 85%
	}
	img.me {
		margin-top:2%;
	}

	.items img {
		width: 700px;
		
	}

	#left, #right {
		width: 50%;
		margin: 5%;
	}
	.tech-container {
		width: 100%;

	}

	img.great{
		margin-top: 50px;
	}

	.tech-box {
		width: 295px;
		min-height: 250px;
	}
	
	div.me {
		display: inline;
	}
	div.about-me {
		display: inline-block;
		width: 50%;
	}
}

.collapsible-header {
	background-color: darkblue;
	padding: 0;
	padding-left: 1rem;
}

.collapsible-body {
	background-color: black;
}

.collapsible-header:active i {
	display: none;
}

